/* Estilos Generales */
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: url('img/fondotest0.png') no-repeat center center fixed; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Estilos para el menú */
.navbar {
    background-color: #332f35; 
    padding: 15px 0; 
}

.menu {
    list-style-type: none; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
}

.menu li {
    display: inline; 
    margin: 0 20px; 
}

.menu a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1.2em; 
    transition: color 0.3s; 
}

.menu a:hover {
    text-decoration: underline; 
}

/* Estilos para el contenedor principal */
.container {
    max-width: 600px; 
    margin: 30px auto; 
    padding: 30px; 
    background-color: rgba(255, 255, 255, 0.175); 
    border-radius: 8px; 
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); 
    flex: 1; 
}

/* Estilos para el título y descripción */
.header {
    color: white; 
    text-align: center; 
    margin-bottom: 30px; 
}

.header h1 {
    font-size: 2.5em; 
}

.header p {
    color: #ddd; 
    font-size: 1.3em; 
}

/* Estilos para los botones */
.buttons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
}

/* Ajustar el tamaño de los botones y sus imágenes */
.button-container {
    margin-bottom: 20px; 
    width: 50%; /* Ajusta el ancho al 50% del contenedor padre */
}

.button-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Reducir padding */
    background-color: #4c4550;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* Animación restaurada */
    font-size: 1.2em; /* Tamaño de fuente ajustado */
    height: auto; 
    width: 100%; 
}

.button-container a:hover {
    background-color: #1f1c23; 
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

/* Ajuste de imágenes dentro de los botones */
.button-container img {
    width: 90px; /* Ajuste del tamaño de la imagen */
    height: 90px; 
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    text-align: center; /* Centrar el texto */
    padding: 15px; /* Espaciado interno */
    background-color: #1f1c23; /* Color de fondo del pie de página */
    color: white; /* Color del texto */
    position: relative; /* Posición relativa para el pie de página */
    width: 98,5%; /* Ancho completo */
    font-size: 1.2em; /* Aumentar tamaño de fuente en el pie de página */
}
